[id*=idplates-labelbuilder] .colorpicker {
  z-index: 999999;
}

[id*=idplates-labelbuilder] input {
  max-width: 100%;
}

[id*=idplates-labelbuilder] .column-left {
  float: left;
  width: 68.5%;
}

[id*=idplates-labelbuilder] .column-right {
  float: right;
  width: 30%;
}

[id*=idplates-labelbuilder] #edit-submit {
  float: right;
}

input[type="submit"].form-button-disabled {
  background-color: #666;
  color: #ccc;
}

input[type="submit"].form-button-disabled:hover {
  background-color: #666;
  color: #ccc;
}

/**
 * Steps
 **/
[id^=idplates-labelbuilder] #edit-breadcrumb {
  margin-top: 0;
}

.idplates-labelbuilder-breadcrumb-wrapper {
  font-size: 1.4em;
}

.idplates-labelbuilder-breadcrumb-wrapper a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.idplates-labelbuilder-breadcrumb-wrapper a:hover {
  text-decoration: underline;
}

.idplates-labelbuilder-breadcrumb-wrapper a.disabled {
  color: #999;
  pointer-events: none;
  cursor: default;
}

.idplates-labelbuilder-breadcrumb-wrapper a.current-step {
  color: #c0273c;
}

.idplates-labelbuilder-breadcrumb-wrapper .step-arrow {
  color: #999 !important;
  margin: 0 5px;
}

#idplates-labelbuilder-size-form input[type='radio'],
#idplates-labelbuilder-layout-form input[type='radio'] {
  display: none;
}

#idplates-labelbuilder-size-form input[type='radio']:checked + label .idplates-labelbuilder-size-wrapper,
#idplates-labelbuilder-layout-form input[type='radio']:checked + label .idplates-labelbuilder-layout-wrapper {
  border: solid 1px #c0273c;
}

#idplates-labelbuilder-size-form input[type='radio']:checked + label .idplates-labelbuilder-size-info:before {
  color: #c0273c;
  content: '';
  background-image: url('../gfx/checkmark.png');
  display: inline-block;
  width: 22px;
  height: 17px;
  margin-right: 3px;
}

#idplates-labelbuilder-size-form .idplates-labelbuilder-size-wrapper:hover,
#idplates-labelbuilder-layout-form .idplates-labelbuilder-layout-wrapper:hover,
#idplates-labelbuilder-layout-form .form-item-styles label:hover {
  cursor: pointer;
}

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles,
[id*=idplates-labelbuilder] .column-left legend,
#idplates-labelbuilder-size-form .form-item-sizes > label:first-child {
  width: 100%;
  background-color: #c0273c;
  color: #fff;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: normal;
}

[id*=idplates-labelbuilder] .column-left fieldset {
  border: none;
  margin: 0 0 25px 0;
  padding: 0;
}

[id*=idplates-labelbuilder] .column-left legend {
  margin: 0;
  text-transform: none;
}

#idplates-labelbuilder-customize-form [type="text"],
#idplates-labelbuilder-customize-form select,
#idplates-labelbuilder-customize-form [type="number"] {
  height: 32px;
}

#idplates-labelbuilder-customize-form [type="number"] {
  width: 7%;
  padding: 10px 5px 10px 10px;
}

#idplates-labelbuilder-size-form .form-item-sizes > label:first-child .form-required {
  display: none;
}

#idplates-labelbuilder-size-form #edit-sizes.form-radios:after,
#idplates-labelbuilder-layout-form .form-type-radios:after,
#idplates-labelbuilder-layout-ajax-wrapper:after {
  clear: both;
  content: '';
  display: block;
}

#idplates-labelbuilder-size-form .form-type-radio.form-item-sizes,
#idplates-labelbuilder-layout-form .form-type-radio.form-item-layouts {
  float: left;
}

.idplates-labelbuilder-size-wrapper,
.idplates-labelbuilder-layout-wrapper {
  border: solid 1px #ccc;
  width: 195px;
  height: 190px;
  text-align: center;
  position: relative;
}

.idplates-labelbuilder-layout-wrapper {
  height: 150px;
}

.idplates-labelbuilder-size-table,
.idplates-labelbuilder-layout-table {
  display: table;
}

.idplates-labelbuilder-size-img-wrapper,
.idplates-labelbuilder-layout-img-wrapper {
  display: table-cell;
  width: 193px;
  height: 140px;
  vertical-align: middle;
}

.idplates-labelbuilder-size-img-wrapper img,
.idplates-labelbuilder-layout-img-wrapper img {
  margin: 0 auto;
  max-width: 95%;
}

.idplates-labelbuilder-size-info-wrapper,
.idplates-labelbuilder-layout-info-wrapper {
  width: 100%;
  color: #666;
  font-weight: bold;
  background: #f5f5f5;
  line-height: 48px;
  height: 48px;
  border-top: solid 1px #ccc;
}

#idplates-labelbuilder-size-form .form-type-radios.form-item-sizes {
  margin-top: 0;
}

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles {
  margin: 0;
  padding: 5px 25px 0;
}

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles label {
  float: left;
  font-size: 24px;
  margin: 0 10px 0 0;
  font-weight: normal;
}

#idplates-labelbuilder-layout-ajax-wrapper .form-item-layouts > label:first-child {
  display: none;
}

#idplates-labelbuilder-layout-form .form-type-radio.form-item-styles {
  float: left;
  padding: 0 12px;
  margin: 0;
}

#idplates-labelbuilder-layout-form .form-item-styles input[type='radio']:checked + label {
  padding: 0 15px 5px;
  background: #fff;
  font-weight: bold;
  color: #c0273c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/**
  Label Preview
 */

#edit-label-proof {
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border-color: #333;
}

#edit-label-proof legend {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-transform: none;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  border-radius: 8px 8px 0 0;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
  text-align: center;
}

#edit-label-proof .idplates-labelbuilder-preview {
  width: 80%;
  margin: 0 auto;
}

.idplates-labelbuilder-preview-wrapper {
  margin: 0 auto;
  border-radius: 15px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 8px #bbb;
}

.idplates-labelbuilder-preview-wrapper p {
  margin: 0;
  padding: 0;
  line-height: 1.1;
}

.idplates-labelbuilder-preview-section-wrapper {
  text-align: center;
  font-weight: bold;
  width: 100%;
  display: table;
  overflow: hidden;
}

.idplates-labelbuilder-preview-section {
  display: table-cell;
  vertical-align: middle;
}

.idplates-labelbuilder-preview-wrapper > div:last-child {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0;
}

.idplates-labelbuilder-preview-wrapper > div:first-child {
  position: relative;
}

p.idplates-labelbuilder-preview-wrapper-barcode {
  background: url('../gfx/barcode.png') repeat;
  margin: 0 auto;
  width: 85%;
}

.idplates-labelbuilder-preview-table tbody,
.idplates-labelbuilder-preview-table tr,
.idplates-labelbuilder-preview-table td,
.idplates-labelbuilder-preview-table th {
  border: none;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.idplates-labelbuilder-preview-table th {
  text-transform: capitalize;
}

.idplates-labelbuilder-preview-table td {
  text-align: right;
  text-transform: uppercase;
}

.idplates-labelbuilder-preview {
  text-align: center;
}

.idplates-labelbuilder-preview img {
  margin: 0 auto;
}

.idplates-labelbuilder-preview .idplates-labelbuilder-inline-wrapper img {
}

.idplates-labelbuilder-preview .idplates-labelbuilder-inline-wrapper {
  width: 90%;
  margin: 0 auto;
  display: table;
  border-collapse: collapse;
}

.idplates-labelbuilder-preview .idplates-labelbuilder-inline-wrapper > * {
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
}

.idplates-labelbuilder-preview .idplates-labelbuilder-wrapped-paragraphs p {
  white-space: nowrap;
}

.idplates-labelbuilder-preview .idplates-labelbuilder-empty-logo {
  border: 1px dashed #c0273c;
  width: 30px;
  border-radius: 5px;
  line-height: 1;
  color: #c0273c;
  font-size: 12pt;
  font-style: italic;
  padding: 2px;

}

/**
 * Live Price
 */
#edit-label-proof .idplates-labelbuilder-live-price-wrapper,
#edit-label-proof .idplates-labelbuilder-qty-price-wrapper {
  width: 80%;
  margin: 0 auto;
}

#edit-label-proof .idplates-labelbuilder-live-price-wrapper table {
  margin: -40px 0 0 0;
}

#edit-label-proof .idplates-labelbuilder-qty-price-wrapper {
  border-top: 2px solid #ccc;
}

#edit-label-proof .idplates-labelbuilder-qty-price-wrapper .form-item-qty {
  width: 33%;
  display: inline-block;
  text-align: center;

}

#edit-label-proof .idplates-labelbuilder-qty-price-wrapper .form-item-qty input {
  margin: 0;
  padding: 0;
  height: 2em;
  text-align: center;
}

#edit-label-proof .idplates-labelbuilder-qty-price-wrapper .form-submit {
  margin: 16px;
  float: right;
}

#edit-label-proof .idplates-labelbuilder-qty-price-wrapper .form-item-qty .description {
  font-weight: bold;
  font-size: 1.2em;
}

/**
 * Customize
 */
#idplates-labelbuilder-customize-form fieldset {
  padding-top: 0;
}

#idplates-labelbuilder-customize-form .form-type-jquery-colorpicker {
  margin-right: 45px;
}

#idplates-labelbuilder-customize-form .form-type-jquery-colorpicker > label {
  top: 9px;
  position: relative;
}

#idplates-labelbuilder-customize-form .consecutive-options > legend {
  display: none;
}

#idplates-labelbuilder-customize-form .consecutive-options.indent {
  width: 95%;
  margin: 0 auto;
}

#idplates-labelbuilder-customize-form .advanced-numbering {
  top: -15px;
}

#idplates-labelbuilder-customize-form .advanced-numbering > legend {
  background: none;
  border: none;
  padding: 0;
  font-size: 1em;
  position: absolute;
  top: -27px;
  left: 190px;
}

#idplates-labelbuilder-customize-form .form-item-numbering-options {
  margin-bottom: 0;
}

#idplates-labelbuilder-customize-form [id^=edit-digits],
#idplates-labelbuilder-customize-form .form-item-numbering-type,
#idplates-labelbuilder-customize-form [id^=edit-fixes] {
  margin: 0;
}

#idplates-labelbuilder-customize-form .form-item-numbering-type {
  width: 150px;
}

#idplates-labelbuilder-customize-form .form-item-numbering-type select {
  line-height: 1;
  font-size: 1em;
}

#idplates-labelbuilder-customize-form .form-item-numbering-type.form-type-select:after {
  bottom: 15%;
}

#idplates-labelbuilder-customize-form [id^=edit-digits] .form-item,
#idplates-labelbuilder-customize-form [id^=edit-fixes] .form-item {
  display: inline-block;
  vertical-align: text-bottom;
}

#idplates-labelbuilder-customize-form [id^=edit-digits] label,
#idplates-labelbuilder-customize-form [id^=edit-fixes] label {
  display: block;
}

#idplates-labelbuilder-customize-form [id^=edit-fixes] [id^=edit-description] {
  font-style: italic;
  font-size: 12px;
  margin: -18px 0 0;
  width: 66%;
  display: block;
}

#idplates-labelbuilder-customize-form .form-item-padding label {
  display: inline-block;
  margin-right: 1em;
}

#idplates-labelbuilder-customize-form .form-item-padding .form-radios {
  display: inline-block;
}

#idplates-labelbuilder-customize-form .form-item-padding .form-radios .form-item {
  display: inline;
}

#idplates-labelbuilder-customize-form .consecutive-placeholder {
  background-color: #ddd;
  color: #c0273c;
  text-align: center;
  width: 80px;
  font-size: 10px;
  display: block;
  border-radius: 3px;
  margin-right: 6px;
}

#idplates-labelbuilder-customize-form .form-item-custom-logo input[type="submit"] {
  padding: 5px 30px;
  background-color: transparent;
  border: 1px solid #acacac;
  color: #555555;
  height: initial;
  margin-top: 3px;
}

#idplates-labelbuilder-customize-form .form-item-custom-logo input[type="submit"]:hover {
  background-color: #ea2d49;
  color: #fff;
}

#idplates-labelbuilder-customize-form .form-item-custom-logo img {
  display: inline;
}

/**
 * Options
 */

