#page-intro { background-color: #ffffff; }

#block-views-mt-latest-listings-block-1 .view-listings .views-field-title {
    clear: both;
    padding: 10px 5px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

#block-views-mt-latest-listings-block-1 .view-listings .views-row .property-container {
    background-color: #fff;
    /* border: 1px solid #e1e1e1; */
}