#page-intro { background-color: #ffffff; }

#block-views-mt-latest-listings-block-1 .view-listings .views-field-title {
    clear: both;
    padding: 10px 5px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

#block-views-mt-latest-listings-block-1 .view-listings .views-row .property-container {
    background-color: #fff;
    border: none;
}

#block-views-mt-latest-listings-block-1 .view-header {
	background-color: #CCD4D4;
}

#headline{
	padding:5px;	
	text-align:center;
	background: #A90018;
    color: #fff;
}

h3#headline {
margin:5px 0 5px 0;
}

#highlighted{
	padding: 10px 0 20px 0;
}

.view-mt-latest-listings .property-container .views-field-title, .view-product-categories .views-field-title {
    clear: both;
    padding: 5px 5px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
}

.custom-left, .custom-right{
  float:left;
}

.file-icon {
    display: none;
}

#block-views-header-block-block-1 .item-list ul{
	
	list-style-type: none;
}

#block-views-header-block-block-1 .item-list ul li{
	
	margin:0 0 0 .75em;
}

#block-views-header-block-block-2 .item-list ul{
	
	list-style-type: none;
}

#block-views-header-block-block-2 .item-list ul li{
	
	margin:0 0 0 0em;
}

#header #block-menu-menu-industry ul.menu {
    font-family: Helvetica Neue, Arial, Sans-serif;
}

#header #block-menu-menu-industry ul.menu li{
    display: block;
    float: none;
    list-style: none;
    margin-left: 0;	
	font-size:14px;
	margin-bottom:5px;
}
#header #block-menu-menu-industry ul.menu li a{
    background: none;
    color: #464646;
	border-top: 1px solid #eee;
    text-shadow: none;
	font-size:14px;
	line-height: 20px;
	padding:5px 20px;
}
#header #block-menu-menu-industry ul.menu li.first.leaf a{
	border-top: none;
}

#header #block-menu-menu-industry ul.menu li.first.leaf a:hover{
	border-top: none;
}
#header #block-menu-menu-industry ul.menu li a:hover{
    background: none;
	background-color: none;
    color: #A90018;
	border-top: 1px solid #292C28;
}
#header #block-menu-menu-industry h2{
	font-size: 16px;
	font-weight:600;
    margin-bottom: 0px;
    margin-top: 0px;
}

.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret{
	margin-top:12px;
}

.block-views-header-block-block-1{
	padding:0px;
}
div#block-views-product-categories-block h3{
	text-align:center;
}

.info{
	padding-left:5px;
	font-size:14px;
}

.group-mt-main-area-center tbody{
	border-bottom: 0px;
}

#featured {
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
}
#block-views-header-block-block-1 {
    padding: 0 0 5px 0;
}

#main.content {
    padding: 10px 0;
}
