/*Boxed Layout Mode*/
/*-------------------------------------------------------------*/

/*Uncomment the following line in order to change the background color*/
/*body.boxed { background-color: white; }*/

/*Uncomment the following line in order to set a background image*/
/*body.boxed { background: url("path/to/your/image") no-repeat fixed; }*/

/*Uncomment the following line in order to change the shadow of page container*/
/*.boxed #page-container { box-shadow: 0px 0px 15px #C2C2C2; }*/

/*Your custom CSS rules*/
/*-------------------------------------------------------------*/
