#header-top { background-color: #A90018; }

.header-top-area .item-list ul.quicktabs-tabs > li > a:hover:after, .header-top-area .nav-tabs > li > a:hover:after { color: #A90018; }

a, #header ul.menu li a.active, ul.menu li a, .footer-area ul.menu li.collapsed > a:before, .footer-area ul.menu li.expanded > a:before,
#site-name a, .comment-counter, .comment .username, .summary .field-item a, .more-link a, .views-field-view-node a, a.button, #toTop,
.view-listings .views-field-title a,
.view-listings .flag-wrapper a.unflag-action:after, .view-listings .flag-wrapper a:hover:after, .mean-container a.meanmenu-reveal { color: #A90018; }

#header ul.menu li a:hover, #header ul.menu li.sfHover>a, #main-navigation .sf-menu ul, #header-top .sf-menu ul, .post-progressbar,
.view-filters .ui-slider .ui-widget-header, .views-exposed-widgets input[type="submit"], .header-top-area .contact-info li,
.header-top-area ul.social-bookmarks li a, .header-top-area ul.brands li a, input[type="submit"], input[type="reset"], input[type="button"],
.panel-title a, .mean-container a.meanmenu-reveal span, .mean-container .mean-nav, .mean-container .mean-nav ul li a.mean-expand,
.poll .bar .foreground { background-color: #A90018; }

.mean-container .mean-nav ul li li a { border-top: 1px solid #A90018; }

.view-filters .ui-slider.ui-widget-content, .more-link a, .views-field-view-node a, a.button,
.view-filters .ui-slider.ui-widget-content .ui-state-default, #toTop { border-color: #A90018; }

a:hover, a:focus, ul.menu li a.active:hover, ul.menu li a:hover, ul.menu li > a:hover:before, .footer-area ul.menu li a:hover,
.footer-area ul.menu li > a:hover:before, .footer-area ul.menu li.expanded > a:hover:before, .summary .field-item a:hover,
.view-agents .views-field-title a:hover { color: #da3148; }

#main-navigation .sf-menu ul li a:hover, #main-navigation .sf-menu ul li.sfHover>a, #header-top .sf-menu ul li a:hover,
#header-top .sf-menu ul li.sfHover>a, ul.pager li > a:hover, .field-type-taxonomy-term-reference .field-item a:hover,
.view-popular-tags .views-row a:hover, .footer-area .view-popular-tags .views-row a:hover, .subfooter-area .view-popular-tags .views-row a:hover,
.header-top-area .contact-info li:hover, ul.social-bookmarks li a:hover, ul.brands li a:hover, .header-top-area ul.social-bookmarks li a:hover,
.header-top-area ul.brands li a:hover, .more-link a:hover, .views-field-view-node a:hover, a.button:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, #main .webform-client-form .form-actions input:hover,
ul.links li a:hover, .item-list ul.quicktabs-tabs > li > a:hover, .nav-tabs > li > a:hover, .item-list ul.quicktabs-tabs > li.active > a:hover,
.nav-tabs > li.active > a:hover, .panel-heading a:hover, .mean-container .mean-nav ul li a:hover, .mean-container .mean-nav ul li a.mean-expand:hover
{ background-color: #da3148; }

a.button:hover { background-color: #f95407; }

.node-type-mt-product .group-mt-main-area-left .field-type-taxonomy-term-reference .field-item a:hover {
  border-color: #da3148;
  background: #da3148;
}

.view-listings .category-item a:hover { background-color: rgba(234,45,73,0.95); }

.overlay, .overlayed-teaser a:before, #image-slider-carousel ul.slides>li:after {
    background-color: rgba(255,255,255,0.5);
}

.mean-container .mean-nav ul li li a:hover { border-top: 1px solid #da3148; }

ul.social-bookmarks li a:hover, ul.brands li a:hover, ul.links li a:hover, .view-popular-tags .views-row a:hover { border-color: #da3148; }
.more-link a:hover, .views-field-view-node a:hover, a.button:hover,
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
#main .webform-client-form .form-actions input:hover { border-color: #f95407!important; }

/*resets
--------------------------------*/
.summary .field-item a:hover { background-color: transparent; }

.node-type-mt-product .commerce-add-to-cart input[type="submit"], .node-type-mt-product .flag-outer-mt-watchlist a, .field-name-field-mt-call-to-action a.button {
  background: #A90018;
  color: #FFFFFF;
  border: 1px solid #A90018;
}

.node-type-mt-product .commerce-add-to-cart input[type="submit"]:hover, .node-type-mt-product .flag-outer-mt-watchlist a:hover, .field-name-field-mt-call-to-action a.button:hover {
  background: #da3148;
  color: #ffffff;
}

#header ul.menu li a:hover, #header ul.menu li.sfHover>a,
#main-navigation .sf-menu ul li a.active { color: #ffffff; }

a.button {
    padding: 0px;
    font-size: 25px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    background: #eb4016;
    padding-left: 0px;
    border: 15px solid #eb4016;
    width: 100%;
}

 #main-navigation .sf-menu ul{
 background-color: #FFF;
 }

 #main-navigation .sf-menu ul li a{
	 color:#3F3F3f;
 }
  #main-navigation .sf-menu ul li a:hover{
	 background-color: #FFF;
	 color:#A90018;
 }
   #main-navigation .sf-menu ul li a:active{
	 color:#A90018;
 }