.column-left {
  float: left;
  width: 68.5%;
}

.column-right {
  float: right;
  width: 30%;
}

#edit-submit {
  float: right;
}

/**
  Size & Layout
 */
#idplates-labelbuilder-size-form input[type='radio'],
#idplates-labelbuilder-layout-form input[type='radio'] {
  display: none;
}

#idplates-labelbuilder-size-form input[type='radio']:checked + label .idplates-labelbuilder-size-wrapper,
#idplates-labelbuilder-layout-form input[type='radio']:checked + label .idplates-labelbuilder-layout-wrapper {
  border: solid 1px #c0273c;
}

#idplates-labelbuilder-size-form input[type='radio']:checked + label .idplates-labelbuilder-size-info-wrapper,
#idplates-labelbuilder-layout-form input[type='radio']:checked + label .idplates-labelbuilder-layout-info-wrapper {
  color: #c0273c;
  background: url('../gfx/checkmark.png') #f5f5f5 no-repeat 30px 15px;
}

#idplates-labelbuilder-size-form .idplates-labelbuilder-size-wrapper:hover,
#idplates-labelbuilder-layout-form .idplates-labelbuilder-layout-wrapper:hover,
#idplates-labelbuilder-layout-form .form-item-styles label:hover {
  cursor: pointer;
}

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles,
#idplates-labelbuilder-size-form .form-item-sizes > label:first-child {
  width: 100%;
  background-color: #c0273c;
  color: #fff;
  padding: 5px 25px;
  font-size: 20px;
  font-weight: normal;
}

#idplates-labelbuilder-size-form .form-item-sizes > label:first-child .form-required {
  display: none;
}

#idplates-labelbuilder-size-form #edit-sizes.form-radios:after,
#idplates-labelbuilder-layout-form .form-type-radios:after,
#idplates-labelbuilder-layout-ajax-wrapper:after {
  clear: both;
  content: '';
  display: block;
}

#idplates-labelbuilder-size-form .form-type-radio.form-item-sizes,
#idplates-labelbuilder-layout-form .form-type-radio.form-item-layouts {
  float: left;
}

.idplates-labelbuilder-size-wrapper,
.idplates-labelbuilder-layout-wrapper {
  border: solid 1px #ccc;
  width: 195px;
  height: 190px;
  text-align: center;
  position: relative;
}

.idplates-labelbuilder-layout-wrapper {
  height: 150px;
}

.idplates-labelbuilder-size-table,
.idplates-labelbuilder-layout-table {
  display: table;
}

.idplates-labelbuilder-size-img-wrapper,
.idplates-labelbuilder-layout-img-wrapper {
  display: table-cell;
  width: 193px;
  height: 140px;
  vertical-align: middle;
}

.idplates-labelbuilder-size-img-wrapper img,
.idplates-labelbuilder-layout-img-wrapper img {
  margin: 0 auto;
  max-width: 95%;
}

.idplates-labelbuilder-size-info-wrapper,
.idplates-labelbuilder-layout-info-wrapper {
  width: 100%;
  color: #666;
  font-weight: bold;
  background: #f5f5f5;
  line-height: 48px;
  height: 48px;
  border-top: solid 1px #ccc;
}

/**
  Layouts
 */

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles {
  padding: 5px 25px 0;
}

#idplates-labelbuilder-layout-form .form-type-radios.form-item-styles label {
  float: left;
  font-size: 24px;
  margin: 0 10px 0 0;
  font-weight: normal;
}

#idplates-labelbuilder-layout-ajax-wrapper .form-item-layouts > label:first-child {
  display: none;
}

#idplates-labelbuilder-layout-form .form-type-radio.form-item-styles {
  float: left;
  padding: 0 12px;
  margin: 0;
}

#idplates-labelbuilder-layout-form .form-item-styles input[type='radio']:checked + label {
  padding: 0 15px 5px;
  background: #fff;
  font-weight: bold;
  color: #c0273c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/**
  Label Preview
 */

#edit-label-proof {
  margin: 1em 0;
  padding: 0;
  border-radius: 8px;
  border-color: #333;
}

#edit-label-proof legend {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-transform: none;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  border-radius: 8px 8px 0 0;
  border-bottom: solid 1px #ccc;
  background-color: #f5f5f5;
  text-align: center;
}

#edit-label-proof .idplates-labelbuilder-preview {
  width: 80%;
  margin: 0 auto;
}

.idplates-labelbuilder-preview-table tbody,
.idplates-labelbuilder-preview-table tr,
.idplates-labelbuilder-preview-table td,
.idplates-labelbuilder-preview-table th {
  border: none;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.idplates-labelbuilder-preview-table th {
  text-transform: capitalize;
}

.idplates-labelbuilder-preview-table td {
  text-align: right;
}

.idplates-labelbuilder-preview {
  text-align: center;
}

.idplates-labelbuilder-preview img {
  margin: 0 auto;
}

/**
  Details and Cusomizations
 */
.idplates-labelbuilder-customize-form fieldset {
  padding-top: 0;
}

